<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rizky.ilham.pe_absen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeAbsen"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="true"
            android:label="Login" />
        <activity
            android:name=".LoginSukses"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dashboard"
            android:exported="false"/>
        <activity
            android:name=".ui.absen.Absen"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.absen.AbsenSukses"
            android:exported="true">
        </activity>
        <activity
        android:name=".ui.absen.AbsenGagal"
        android:exported="true">
        </activity>
        <activity
            android:name=".ui.profile.EditProfile"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.profile.SaveSukses"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.absen.AbsenPulang"
            android:exported="true">
        </activity>

    </application>

</manifest>